<h1>You've added a new contact!</h1>

<p>@Model.GetContact()</p>
<p>@Model.GetPhone()</p>
<p>@Model.GetAddress()</p>
<p>@Model.GetEmail()</p>
<button><a href="/contact_form.cshtml">Add Another Contact</a></button>
<button><a href="/contacts.cshtml">View All Contacts</a></button>
<button><a href="/index.cshtml">Return Home</a></button>
