<div class="container">
  <h1>Are you sure you want to clear all of your contacts?</h1>
  <form action="/contacts/clear" method="post">
    <label for="clear-contacts"><h1>Are you sure you want to clear all of your contacts?</h1></label>
    <button type="submit">Yes</button>
    <a href="/">No</a>
  </form>
</div>
