<h1>You've added a new contact!</h1>

<p>@Model.GetName()</p>
<p>@Model.GetPhone()</p>
<p>@Model.GetAddress()</p>
<p>@Model.GetEmail()</p>

<a href='/contacts/new'>Add Another Contact</a>
<a href='/contacts'>View All Contacts</a>
<a href='/'>Return Home</a>
