<div class="container">
  <ul>
    @foreach (var contact in Model)
    {
      <li>@contact.GetName()</li>
        <ul>
          <li>@contact.GetPhone()</li>
          <li>@contact.GetAddress()</li>
          <li>@contact.GetEmail()</li>
        </ul>
    }
  </ul>

  <a href='/contact/new'>Add a new contact</a>
  <a href='/clear_contacts'>Clear All Contacts</a>
  <a href='/'>Return Home</a>
</div>
