<div class="container">
  <h1>Address Book</h1>
  <h3>This Web Application is designed to help you keep track of your contacts!</h3>
  <h4>What would you like to do?</h4>
</div>


<div class="container">
  <ul>
    @foreach (var contact in Model)
    {
      <li>@contact.GetName()</li>
        <ul>
          <li>@contact.GetPhone()</li>
          <li>@contact.GetAddress()</li>
          <li>@contact.GetEmail()</li>
        </ul>
    }
  </ul>

  <a href='/contact/new'>Add a new contact</a>
  <a href='/contacts/clear'>Clear All Contacts</a>
</div>
