<h1>Address Book</h1>
<h3>This Web Application is designed to help you keep track of your contacts!</h3>
<h4>What would you like to do?</h4>
<button><a href="/contact_form.cshtml">Add a Contact</a></button>
<button><a href="/contacts.cshtml">View All Contacts</a></button>
