<h1>Address Book</h1>
<h3>This Web Application is designed to help you keep track of your contacts!</h3>
<h4>What would you like to do?</h4>
<a href='/contacts/new'>Add a Contact</a>
<a href='/contacts'>View All Contacts</a>
