<div class="container">
  <h1>Address Book</h1>
  <h3>This Web Application is designed to help you keep track of your contacts!</h3>
  <h4>What would you like to do?</h4>
  <a href='/contact/new'>Add a Contact</a>
  <a href='/contacts'>View All Contacts</a>
</div>
